{% extends 'base.html' %}
{% block cnt %}
    <div class="container row h-auto">
        <nav class="col-3  p-0">
            <div class="box_with_shadow  p-0">
                <a class="w-100 btn btn-lg btn-primary mb-2" href="{% url 'documents:list' %}">Договоры</a>

                {% if user.is_authenticated and user.is_staff and perms.auth.change_permission%}
                    <a class="w-100 btn btn-lg btn-primary mb-2" href="{% url 'admin:index' %}">Доступ должностей</a>
                {% endif %}

                {% if perms.documents.change_document and perms.documents.delete_document %}
                    <a href="{% url 'documents:list' %}?edit=1" class=" w-100 btn-lg btn btn-primary mb-2">Редактирование
                        договоров</a>
                {% else %}
                    <button type="button" class="mb-2 btn-lg w-100 btn btn-secondary disabled">Редактирование договоров
                    </button>
                {% endif %}

                <a class="w-100 btn btn-lg btn-primary mb-2" href="{% url 'documents:notifications' %}">Уведомления</a>
                <a class="w-100 btn btn-lg btn-primary mb-2" href="{% url 'users:settings' %}">Настройки</a>

            </div>

        </nav>

        <div class="col-9 px-4">
            <div class="box_with_shadow w-auto h-100">
                {% block content %}

                {% endblock %}
            </div>
        </div>

    </div>

{% endblock %}