{% extends 'documents/document_base.html' %}
{% load static %}
{% block content %}

    <a class="btn btn-primary" href="{% url 'documents:list' %}">Вернуться к списку документов</a>

    {% if perms.documents.change_document %}
        <a class="btn btn-primary" href="{% url 'documents:update' number=document.number %}">Изменить</a>
    {% endif %}


    {% if perms.documents.delete_document %}
        <form action="{% url 'documents:delete' pk=document.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'documents:list' %}">
            <button class="btn btn-danger" type="submit">Удалить</button>
        </form>
    {% endif %}

    <h1>{{ document.title }}</h1>
    <h2> Номер: #{{ document.number }}</h2>

    <p> Статус <span>{{ document.status }}</span></p>
    <p> Дата подписания <span>{{ document.signing_date }}</span></p>
    <p> Дата завершения <span>{{ document.end_date }}</span></p>

    <div>
        <a class="file-link" href="{{ document.file.url }}">Файл</a>
    </div>

    <h3> Обязательства </h3>
    <div>
        <ul>
            {% for duty in document.duty_set.all %}
                <li>
                    <label>{{ duty.title }}
                        <input type="checkbox"
                               class="duty-checkbox"
                               data-duty-id="{{ duty.id }}"
                               {% if duty.done %}checked{% endif %}
                               {% if not perms.documents.change_duty %}
                                    disabled
                               {% endif %}
                        >
                    </label>
                </li>
            {% endfor %}
        </ul>

    </div>

    <h3> Заметки </h3>
    <div>{{ document.notes }}</div>

    <div id="csrf-token" data-csrf-token="{{ csrf_token }}"></div>
    <script src="{% static 'js/duty_checkbox.js' %}"></script>

{% endblock %}

