{% extends 'documents/document_base.html' %}
{% block content %}

    <div class="row">
        <h1 class="col-7">{{ title }}</h1>
        <div class="col-4">
            {% if perms.documents.add_document %}
                <a href="{% url 'documents:create' %}" class="w-100 btn btn-lg btn-primary">Создать новый договор</a>
            {% endif %}
        </div>
    </div>

    <table class="table mt-3 table-bordered align-middle">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Номер</th>
            <th scope="col">Дата создания</th>
            {% if edit %}
                <th scope="col">Действия</th>
            {% else %}
                <th scope="col">Обязательства</th>
            {% endif %}
            <th scope="col">Статус</th>
        </tr>
        </thead>

        <tbody>
        {% for document in documents %}
            <tr>
                <td><a href="{% url 'documents:document' number=document.number %}">{{ document.title }}</a></td>
                <td>#{{ document.number }}</td>
                <td class="col-2">{{ document.signing_date.date }}</td>
                {% if edit %}
                    <td>
                        {% if perms.documents.change_document %}
                            <a href="{% url 'documents:update' number=document.number %}"
                               class="edit-button btn btn-primary">Редактировать</a>
                        {% endif %}


                        {% if perms.documents.delete_document %}
                            <form action="{% url 'documents:delete' pk=document.pk %}" method="post"
                                  style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}?edit=1">
                                <button type="submit" class="delete-button btn btn-danger">Удалить</button>
                            </form>
                        {% endif %}

                    </td>
                {% else %}
                    <td>
                        {% for duty in document.duty_set.all|slice:":3" %}
                            <span class="badge bg-secondary">{{ duty.title }} </span>
                        {% endfor %}
                        {% if document.duty_set.count > 3 %}
                            <span>...</span>
                        {% endif %}
                    </td>
                {% endif %}

                <td>{% include 'elements/documents/doc_status.html' %}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
