{% extends 'documents/document_base.html' %}
{% block content %}

    <h1>Уведомления</h1>
    <table class="table mt-3 table-bordered">
        <thead>
        <tr>
            <th>Название</th>
            <th>Номер</th>
            <th>Дата завершения</th>
            <th>Дней осталось</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td><a href="{% url 'documents:document' number=document.number %}">{{ document.title }}</a></td>
                <td>{{ document.number }}</td>
                <td>{{ document.end_date.date }}</td>
                <td>
                    <!-- Задаю цвет исходя из оставшихся количества дней -->
                    <span
                            {% if document.remaining_days <= 1 %}
                                class="badge bg-danger"
                            {% elif document.remaining_days <= 4 %}
                                class="badge bg-warning"
                            {% else %}
                                class="badge bg-info"
                            {% endif %}

                    >{{ document.remaining_days }}
                    </span>
                </td>
                <td>{% include 'elements/documents/doc_status.html' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
