{% extends 'documents/document_base.html' %}
{% block content %}

    <h1>Уведомления</h1>
    <table class="table mt-3 table-bordered align-middle">
        <thead>
        <tr>
            <th>Название</th>
            <th>Номер</th>
            <th>Дата завершения</th>
            <th>Дней осталось</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td><a href="{% url 'documents:document' number=document.number %}">{{ document.title }}</a></td>
                <td>{{ document.number }}</td>
                <td>{{ document.end_date.date }}</td>
                <td><span class="badge bg-danger">{{ document.remaining_days }}</span></td>
                <td><span class="badge bg-primary">{{ document.status }}</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
