header{
    background-color: #f8f9fa;
}

.box_with_shadow{
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

footer{
    background-color: #f8f9fa;
}

td {
    text-align: center;
}